 <div>
    <div class="dashboard">
        <div class="darkgreen dash-tag shadow1">
            <div class="dash-t1">Total</div>
            <div class="dash-t2">{{ dash.total }}</div>
        </div>
        <div class="dashblue dash-tag shadow1">
            <div class="dash-t1"><i class="fas fa-angle-double-up">&nbsp;</i> Teste</div>
            <div class="dash-t2">{{ dash.proximas }}</div>
        </div>
        <div class="darkred dash-tag shadow1">
            <div class="dash-t1"><i class="fas fa-angle-double-down">&nbsp;</i>Teste</div>
            <div class="dash-t2">{{ dash.vencidas }}</div>
        </div>
    </div>
</div>