<aside>
    <div id="logo">
        <a href="/"><img class="logo" src="/public/{{layout.logo}}"></a>
    </div>
    <nav id="menu">
        <ul>
            <li><p>Principal</p></li>
            <li><a href="/"><i class="fas fa-chart-line"></i>Dashboard</a></li>
        
        </ul>
    </nav>
</aside>
