<head>
	<title>{{metadata.site.titulo}}</title>

	<meta charset="{{metadata.site.charset}}">
	<meta name="description" 	content="">
	<meta name="keywords" 	 	content="">
	<meta name="author" 	 	content="">
	<meta name="viewport" 		content='width=device-width, initial-scale=1'>
	<link rel='shortcut icon' 	href='{{metadata.layout.icon}}'>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
	<link rel='stylesheet'		href='./public/css/bootstrap.min.css'>
	<link rel='stylesheet' 		href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
	<link rel='stylesheet' 		href='./public/css/style.css'>

	<script src='./public/js/jquery.min.js'></script>
	<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<script src='./public/js/bootstrap.min.js'></script>
	<script src='./public/js/scroll/jquery.nicescroll.min.js'></script>
	<script src='./public/js/echarts.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src='./public/js/funcoes.js'></script>
	<script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

</head>