 
<header class="header-page shadow1">
    <div>
        <img src="img/ic/ic_expmenu.png">
        <a href="#" class="blulgt">Hydra</a><span class="gre">&nbsp/&nbsp</span><span class="gre">Prontuário</span>
    </div>
    <div class="dropmenu">
        <ul>
            <li><img src="img/ic/ic_topsearch.png"></li>
            <li class="gre"><p id="date"></p></li>
            <li><a href="#"><img src="img/ic/ic_date.png"></a></li>
            <input type="checkbox" id="dropmenu" hidden>
            <label id="dropmenu-label" for="dropmenu" class="row act jct">
                <li class="gre">{{ user.name }}</li>
                <li><img src="img/avatar.jpg"></li>
            </label>
            <div id="dropmenu-content">
                <a href="#" class="gre">Configuração de Conta</a>
                <a href="/logout" class="gre">Sair da Conta</a>
            </div>
        </ul>
    </div>
</header>