<form id="genericForm" METHOD="POST">
    <div class="row">
        <div class="col-5">
            <label>Nome</label>
            <input type="text" name="name" id="name" value="">
        </div>
    </div>
    
    <div class="row">
        <button type="submit" class="btgreen" id="btnSave"><i class="fas fa-check"></i>Salvar</button>
    </div>
</form>

